/* Title section styles */
.Title {
    text-align: center;
    margin: 50px auto;
}

    .Title h2 {
        color: #ec7813;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .Title p {
        color: #666;
        font-size: 18px;
        line-height: 1.5;
    }

/* Feedback form styles */
.form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

    .form h3 {
        color: #fff;
        font-size: 24px;
        margin-bottom: 20px;
    }

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        display: block;
        color: #fff;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .form-group input,
    .form-group textarea {
        width: 85%;
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        color: #000;
    }

    .form-group textarea {
        height: 100px;
    }

        .form-group input:focus, .form-group textarea:focus {
            border-color: #f79a3e;
            outline: none;
        }

.rating {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 70%;
    line-height: 20px;
    font-size: 20px;
    color: #ec7813;
    text-align: center;
}

    .rating input {
        display: none;
    }

    .rating label {
        display: inline-block;
        position: relative;
        width: 70px;
        height: 20px;
        text-align: center;
        cursor: pointer;
    }

        .rating label:before {
            content: "\2605";
            display: block;
            font-size: 20px;
            line-height: 1;
            color: #FFC107;
            position: relative;
            right: 0;
        }

        .rating label:before {
            content: "\2605";
            display: block;
            font-size: 20px;
            line-height: 1;
            color: #FFC107;
            position: relative;
            right: 0;
        }


    .rating input[type="radio"]:checked ~ label:before {
        color: #ddd;
    }

    .rating input[type="radio"]:checked + label:before {
        color: #FFC107;
    }

    .rating label:hover:after,
    .rating label:hover ~ label:before {
        color: #ddd;
    }


.ss_button {
    display: block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #fd6d0a;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

    .ss_button:hover {
        background-color: #fff;
        color: #fd6d0a;
    }

    .ss_button:active {
        transform: translateY(1px);
        background-color: #d47522;
    }
